@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding-top: 40px;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #FFFFFF;
  color: #444444;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-position: center;
  background-color: transparent;
  line-height: 21px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  z-index: 0;

}

.button::before {
  display: block;
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #FFE17F;
  z-index: -1;
  transition-duration: 0.3s;
}

.button:hover.button::before{
  height: 100%;
  top: 0;
}

.button:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  outline: none;
}

.button:active.button::before {
  background-color: #FFCC33;
}


.button:disabled {
  opacity: 0.3;
}

.page-header {
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 22px;
  background-color: #FFE17F;
  color: #000000;
  z-index: 1;
}

.page-header-catalog {
  margin-bottom: 35px;
}

.logo-header {
  display: inline-block;
  margin: 0;
  margin-top: -22px;
  margin-bottom: 30px;
}

.logo-header:hover {
  opacity: 0.6;
}

.logo-header:active {
  opacity: 0.3;
}

.logo-header:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  outline: none;
}

.header-logo-image {
  display: block;
}

.navigation {
  width: 1040px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.navigation:last-child {
  margin-bottom: 0;
}

.navigation-user-list,
.navigation-site-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-user-list {
  justify-content: space-between;
  align-items: center;
}

.navigation-user-list-profile {
  width: 230px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navigation-user-list-purchases {
  width: 240px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navigation-search-form input,
.search-button {
  background-color: inherit;
}

.navigation-search-form input::placeholder,
.search-button{
  font-family: "Rubik", sans-serif;
  color: inherit;
  font-size: 16px;
  line-height: 20px;
}

.navigation-user-item-compare {
  margin-left: auto;
  margin-right: 36px;
}

.navigation-link {
  display: block;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.navigation-user-link {
  position: relative;
  padding-left: 27px;
}

.navigation-user-link:hover {
  opacity: 0.6;
}

.navigation-user-link:active {
  opacity: 0.3;
}

.navigation-user-link:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  outline: none;
}

.navigation-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  margin: auto 0;
  fill: #000000;
}

.navigation-link-basket::before {
  content: "2";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 17px;
  background-color: white;
  border-radius: 50%;
  z-index: 1;
}


.navigation-site-link {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.navigation-site-link:hover {
  opacity: 0.6;
}

.navigation-site-link:active {
  opacity: 0.3;
}

.navigation-site-link:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  outline: none;
}

.button-show-categories {
  display: inline-block;
  position: relative;
  text-align: left;
  min-width: 293px;
}

.button-show-categories::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: block;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background-image: url("../images/plus.svg");
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid black;
  border-radius: 50%;
  opacity: 0.3;
  transition: background-image 0.5s;
}

.button-show-categories:hover {
  opacity: 1;
}

.button-show-categories:hover.button-show-categories::after {
  opacity: 1;
}

.button-show-categories:active.button-show-categories::after {
  opacity: 1;
  background-image: url("../images/minus.svg")
}

.button-show-categories:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  outline: none;
}

.navigation-site-item-catalog  {
  margin-right: auto;
}

.navigation-site-item:not(.navigation-site-item-catalog, :last-child) {
  margin-right: 45px;
}

.navigation-user-link-out {
  color: rgba(0, 0, 0, 0.3);
}

.main-container {
  flex-grow: 1;
}

.content-container {
  width: 1160px;
  margin: 0 auto;

}

.slider-slogan,
.service-description-title,
.info-title, .contacts-title,
.newsletter-title,
.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.slider-slogan {
  margin: 0;
  margin-bottom: 29px;
}

.bestsellers {
  margin-top: -40px;
  margin-bottom: 70px;
}

.bestsellers-slider-container {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, #FFE17F 150px, white 150px);
}

.slider-image-container {
  position: relative;
  width: 560px;
}

.slider-controls {
  position: absolute;
  top: 50%;
  left: 30px;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

.slider-button {
  display: block;
  height: 60px;
  width: 20px;
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.slider-prev {
  background-image: url("../images/arrow-prev.svg");
}

.slider-next {
  background-image: url("../images/arrow-next.svg");
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-button:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  outline: none;
}

.slider-button:disabled {
  opacity: 0.1;
}

.slider-image {
  display: block;
}


.slider-text-container {
  width: 560px;
  margin-top: 121px;
}

.slider-description {
  margin: 0;
  margin-bottom: 50px;
}

.slider-link {
  min-width: 220px;
}

.slider-button-pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.slider-pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-pagination-item:not(:last-child) {
  margin-right: 20px;
}

.slider-pagination-button {
  display: block;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slider-pagination-inner-wrapper {
  width: 10px;
  height: 10px;
  border: 2px solid black;
  border-radius: 50%;
}

.slider-pagination-button-current .slider-pagination-inner-wrapper{
  background-color: black;
}

.slider-pagination-button:hover .slider-pagination-inner-wrapper{
  opacity: 0.6;
}

.slider-pagination-button:active .slider-pagination-inner-wrapper{
  opacity: 0.3;
}

.slider-pagination-button:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  outline: none;
}


.slider-features-list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: start;
  column-gap: 20px;
  row-gap: 12px;
  padding: 0;
  margin: 0;
}

.slider-feature {
  font-size: 16px;
}

.slider-value {
  grid-row: 1 / 2;
  font-size: 36px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.device-categories {
  margin-bottom: 70px;
}

.device-categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.device-categories-item {
  display: flex;
  height: 253px;
}

.device-categories-link {
  display: block;
  width: 160px;
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #000000;
  text-decoration: none;
}

.device-categories-link::before {
  display: block;
  content: "";
  width: 160px;
  height: 160px;
  margin-bottom: 32px;
  background-color: #FFE17F;
  background-position: center;
  background-repeat: no-repeat;

}

.device-categories-link-virtuality::before {
  background-image: url("../images/category-icons/category-1-virtual-reality.svg");

}

.device-categories-link-selfie::before {
  background-image: url("../images/category-icons/category-2-selfie.svg");
  background-position: bottom center;
}

.device-categories-link-cameras::before {
  background-image: url("../images/category-icons/category-3-action-cameras.svg");
}

.device-categories-link-trackers::before {
  background-image: url("../images/category-icons/category-4-fitness-trackers.svg");
}

.device-categories-link-clocks::before {
  background-image: url("../images/category-icons/category-5-smart-clocks.svg");
}

.device-categories-link-quadrocopter::before {
  background-image: url("../images/category-icons/category-6-quadrocopters.svg");
}

.device-categories-link:hover.device-categories-link::before {
  background-color: #FFC700;
}

.device-categories-link:active {
  opacity: 0.3;
}

.device-categories-link:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  outline: none;
}

.services {
  background-image: linear-gradient(to bottom, transparent 102px, #F0F0F0 102px);
  padding-bottom: 72px;
  margin-bottom: 70px;
}


.services-container {
  display: flex;
  padding-right: 63px;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 65px;

}

.service-item:not(:last-child) {
  margin-bottom: 35px;
}

.service-button {
  min-width: 160px;
  color: black;
}


.service-button-selected {
  color: #FFE17F;
}

.service-item-selected {
  background-color: black;
}

.service-button-selected::before {
  display: none;
}


.index-services-container {
  position: relative;
  margin-top: -8px;
  margin-right: 116px;
  padding-top: 72px;
  width: 287px;
}

.index-services-container::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 7px;
  background-color: black;

}

.service-description {
  padding-top: 72px;
}

.service-description-title {
  margin: 0;
  margin-bottom: 34px;
}

.service-description {
  width: 694px;
  margin: 0;
  background-image: url("../images/delivery-guy.svg");
  background-repeat: no-repeat;
  background-position: center right;
}

.delivery {
  margin-bottom: 70px;
}

.delivery-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  position: relative;
  height: 100px;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.2em;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #F0F0F0;
}

.delivery-button::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 125px;
  background-color: #FFE17F;
  background-image: url("../images/icon-delivery-car.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.delivery-button::after {
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  right: 42.5px;
  height: 40px;
  width: 40px;
  background-color: rgba(220, 220, 220);
  background-image: url("../images/i.svg");
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  opacity: 0.5;

}

.delivery-button:hover.delivery-button::before {
  background-color: #FFC700;
}

.delivery-button:hover.delivery-button::after {
  opacity: 1;
}

.delivery-button:active {
  opacity: 0.3;
}

.delivery-button:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  outline: none;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.info-title {
  margin: 0;
  margin-bottom: 48px;
}

.info {
  width: 520px;
}

.info::before, .contacts::before {
  content: "";
  display: block;
  width: 84px;
  height: 7px;
  background-color: black;
  margin-bottom: 40px;
}

.info-text {
  margin: 0;
  margin-bottom: 30px;
}

.contacts {
  width: 532px;
}

.delivery-companies-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  margin-bottom: 30px;
}

.delivery-company-item {
  position: relative;
  padding-left: 36px;
}

.delivery-company-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #FFC700;
  border-radius: 50%;
}


.more-info-button {
  min-width: 270px;
}

.delivery-company-item:not(:last-child) {
  margin-bottom: 19px;
}


.contacts-title {
  margin: 0;
  margin-bottom: 48px;
}

.contacts-text {
  margin: 0;
  margin-bottom: 30px;
}

.contacts-subtitle {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15px;
}

.contacts-address {
  margin: 0;
  margin-bottom: 30px;
  font-style: normal;
}

.contacts-address-text {
  margin: 0
}

.contacts-phone {
  color: inherit;
  text-align: center;
}

.contacts-phone:hover {
  opacity: 0.6;
}

.contacts-phone:active {
  opacity: 0.3;
}

.contacts-phone:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  outline: none;
}

.contacts-shedule {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.request-button {
  min-width: 260px;
}

.newsletter {
  padding-top: 64px;
  padding-bottom: 56px;
  background-color: #F0F0F0;
}

.newsletter-container-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.newsletter-container-row:not(:last-child){
  margin-bottom: 144px;
}

.newsletter-title {
  margin: 0;
}

.newsletter-text {
  margin: 0;
  margin-right: 28px;
}

.newsletter-form input,
.newsletter-button {
  background-color: inherit;
}

.newsletter-form input::placeholder {
  font-size: 18px;
  line-height: 30px;

}

.newsletter-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.newsletter-free {
  position: relative;
  padding-left: 32px;
}

.newsletter-free::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 30px;
  left: 0;
  top: 0;
  background-image: url("../images/icon-check-mark.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.page-footer {
  color: #FFFFFF;
  background-color: #444444;
  padding-bottom: 60px;
}

.page-footer-container {
  display: flex;
  width: 1160px;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 62px;
}

.footer-logo {
  display: inline-block;
  margin: 0;
  margin-bottom: 33px;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-logo:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  outline: none;
}

.footer-logo-image {
  display: block;
}

.footer-address-text {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 64px;
}

.footer-address::after {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  background-color: #FFC700;
}

.footer-nav {
  display: flex;
  padding-top: 75px;
  flex-direction: column;
  align-items: center;
}

.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 460px;
  list-style: none;
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
}

.footer-nav-list-social {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-nav-item {
  margin-right: 35px;
  margin-bottom: 2px;
}

.footer-nav-item:nth-child(3n) {
  margin-right: 0;
}



.footer-nav-link {
  display: block;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  padding-bottom: 6px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: inherit;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.footer-nav-link:hover {
  color: #FFC700;
}

.footer-nav-link:hover.footer-nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FFC700;
}

.footer-nav-link:active {
  opacity: 0.3;
}

.footer-nav-link:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  outline: none;
}

.footer-social-item {
  margin-right: 15px;
  margin-bottom: 8px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.button-social {
  display: block;
}

.social-wrapper {
  position: relative;
  min-width: 40px;
  min-height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.button-social-image {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #444;
}

.button-social:hover .social-wrapper{
  background-color: #FFC700;
}

.button-social:active .button-social-image {
  opacity: 0.3;
}

.button-social:focus{
  box-shadow: 0 0 0 2px #AF4FFF;
  outline: none;
}



.footer-phone {
  display: flex;
  padding-top: 78px;
  flex-direction: column;
}

.footer-contacts-phone {
  display: block;
  margin-bottom: 63px;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  text-align: center;
}

.footer-contacts-phone:hover {
  color: #FFC700;
}

.footer-contacts-phone:active {
  opacity: 0.3;
}

.footer-contacts-phone:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  outline: none;
}

.footer-logo-html-academy {
  align-self: flex-end;
  margin: 0;
}


.html-academy-image {
  display: block;
  fill: #FFC700;
}

.footer-logo-html-academy:hover .html-academy-image {
  fill: #fff;
}

.footer-logo-html-academy:active {
  opacity: 0.3;
}

.footer-logo-html-academy:focus {
  box-shadow: 0 0 0 1px #AF4FFF;
  outline: none;
}

.inner-header-breadcrumbs-wrapper {
  padding-left: 60px;
  margin-bottom: 35px;
  box-sizing: border-box;
}


.inner-header-title {
  margin: 0;
  margin-bottom: 16px;

}


.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 36px;
}

.breadcrumbs-item + .breadcrumbs-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
  width: 4px;
  height: 7px;
  background-image: url("../images/breadcrumb-arrow.svg");
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  outline: none;
}



.catalog-sections-container {
  display: flex;
  padding-left: 60px;
  box-sizing: border-box;
}

.catalog-features-filter {
  width: 220px;
  margin-right: auto;
}

.catalog {
  width: 840px;
}

.sorting-container {
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 40px;
  padding-right: 40px;
}

.sorting-label {
  margin-right: auto;
  text-transform: uppercase;
}

.select-control {
  margin-right: auto;
}

.inner-container {
  background-color: #F0F0F0;
  color: #000000;
}

.inner-catalog-container {
  background-color: #FFFFFF;
  padding-top: 70px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 78px;
}

.catalog-title,
.sorting-label {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button-catalog {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  opacity: 0.2;
  cursor: pointer;
}

.button-up {
  background-image: url("../images/sort-up.svg");
}

.button-down {
  background-image: url("../images/sort-down.svg");
}

.button-catalog:hover {
  opacity: 0.5;
}

.button-catalog:active {
  opacity: 1;
}

.button-catalog:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  outline: none;
}


.catalog-list {
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
  row-gap: 44px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 44px;
}

.catalog-link {
  display: block;
  position: relative;
  color: inherit;
  text-decoration: none;
}

.catalog-card-image {
  display: block;
  object-fit: contain;
  margin-bottom: 32px;
}

.catalog-card-title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.catalog-card-wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog-card-price {
  font-weight: 400;
  color: #444444;
  line-height: 21px;
}

.catalog-button-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 380px;
  background-color: rgba(240, 240, 240, 0.8);
}

.hidden-button {
  display: none;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  width: 220px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  letter-spacing: 0.2em;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent;
  line-height: 21px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  z-index: 0;

}

.hidden-button::before {
  display: block;
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #FFE17F;
  z-index: -1;
}

.catalog-link:hover .hidden-button {
  display: block;
}

.catalog-link:hover .catalog-button-wrapper {
  display: block;
}

.catalog-link:hover .catalog-card-wrapper{
  opacity: 0.6;
}

.catalog-link:active .hidden-button::before {
  background-color: #FFC700;
}

.catalog-link:active .catalog-card-wrapper {
  opacity: 0.3;
}

.catalog-link:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  outline: none;
}

.pagination-show-more {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  width: 760px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 19px;
  background-color: inherit;
  border: 3px solid #E5E5E5;
  margin-bottom: 44px;
  cursor: pointer;
}

.pagination-show-more:hover {
  color: #fff;
  background-color: #000000;
  border: black 3px solid;
}

.pagination-show-more:active {
  color: rgba(255, 255, 255, 0.3)
}

.pagination-show-more:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  outline: none;
}

.pagination-show-more:disabled {
  opacity: 0.3;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #F0F0F0;
}

.pagination-list {
  align-self: center;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-link {
  display: block;
  width: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgb(68, 68, 68);
  opacity: 0.3;
  text-decoration: none;
}

.pagination-link:hover {
  opacity: 1;
}

.pagination-link:active {
  opacity: 0.1;
}

.pagination-link:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  outline: none;
}

.pagination-button {
  display: flex;
  padding: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #000000;
  opacity: 1;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-button:hover {
  background-color: #DCDCDC;
}

.pagination-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-button:focus {
  box-shadow: 0 0 0 2px #AF4FFF;
  outline: none;
}

.pagination-button:disabled {
  color: transparent;
}
